<!DOCTYPE html>
<html>
<head>
<style>
  body{
    background-color: lightcoral;
}
  h1{
    text-align: center;}
  h2{ 
    text-align: center;}
  h4{
    text-align: center;}
  #comments{
    height:50px; width:200px;"}
</style>
</head>
